@import url(https://lift-ui.netlify.app/lift.css);

.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  margin: 6.5rem auto;
  width: fit-content;
}

.centered {
  width: 100%;
  margin: auto;
}

.btn-no-hover:hover {
  transform: scale(1);
}

.btn-header{
  padding: 0.5rem;
  margin: 0.1rem 0rem;
}

.btn-profile{
  padding: 0.4rem;
  margin: 0.5rem 0rem 0rem 0rem;
}

.post-left {
  text-align: left !important;
}

.card {
  padding: 0%;
  /* max-width: 750px;
  max-height: 500px; */
  /* max-width: 300px;
  max-height: 300px; */
}

.card-img {
  border: 0px;
}

.flex-dis {
  display: flex;
}

.user-profile-pic {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.user-details {
  padding: 2rem;
  text-align: left;
  font-size: large;
}

.user-bio {
  margin-top: 0.5rem;
}

.profile-1 {
  border-bottom: 0.02rem solid black;
}

.profile-2 {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.profile-grid {
  width: 15rem;
  height: 15rem;
  margin: 0.3rem;
}

.card{
  margin-bottom: 0.75rem;
  max-width: 65%;
}

.card > h5{
  font-size: large;
  font-weight: bolder;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
}

.card >h6{
  font-size: large;
}

.btn-right{
  margin: 0rem;
  padding: 0.4rem;
  font-size: 0.8rem;
  float: right;
}

.float-right{
  float: right;
}

.username-feed{
  text-decoration: none;
  color: black;
  padding: 0.3rem;
}
